<% layout('/layouts/boilerplate') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px 12px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }
</style>



<script>
    const campaign = <%- JSON.stringify(campaign) %>;
</script>

<body> 
    <div style="display:flex; justify-content:space-between;">
        <div>
            <h2>Campaign Data:</h2>
            <div style="width: 800px; height: 400px;">
                <!-- Canvas to render the chart -->
                <canvas id="myChart" width="800" height="400"></canvas>
            </div>
        </div>
        <br/>
        <br/>
       
            <div style="display: flex; justify-content: space-between; flex-direction: column; margin-left: 10%;" >
                <br/>
        <br/>
        <div >
            <% let token; %>
          <form method="get" action="/MailMetrics/campaigns/analyseByDate/<%= campaign._id %>">
    <%  token=  new Date().getFullYear()+`-`+(new Date().getMonth() + 1).toString().padStart(2, '0') +`-`+ new Date().getDate().toString().padStart(2, '0') ; %>
   
    <input type="hidden" name="token" value="<%= token %>">
    <button class="btn btn-dark">Today Data</button>
</form>

        </div>
        
                <div>
                    <form method="get" action="/MailMetrics/campaigns/analyseByDate/<%= campaign._id %>">
                       <% const today = new Date();
                        const yesterday = new Date(today);
                        yesterday.setDate(today.getDate() - 1); %>
                        <%  token = yesterday.getFullYear() + '-' + (yesterday.getMonth() + 1).toString().padStart(2, '0') + '-' + yesterday.getDate().toString().padStart(2, '0');
                        %>
                       
                        <input type="hidden" name="token" value="<%= token %>">
                        <button class="btn btn-dark">Yesterday Data</button>
                    </form>
                </div><br/>
                <div>
                    <form method="get" action="/MailMetrics/campaigns/analyseByDate/<%= campaign._id %>">
                        <label for="customDate">Select a Date:</label>
                        <input type="date" id="token" name="token"><br/>
                        <button type="submit" class="btn btn-dark">Analyse</button>
                    </form>
                </div><br/>
                <div>
                    <form method="get" action="/MailMetrics/campaigns/analyseByDateInMonth/<%= campaign._id %>">
                        <label for="customMonth">Select a Month:</label>
                        <input type="month" id="token" name="token"><br/>
                        <button type="submit" class="btn btn-dark">Analyse</button>
                    </form>
                </div><br/>
                <div>
                    <form method="get" action="/MailMetrics/campaigns/analyseByMonth/<%= campaign._id %>">
                        <label for="customYear">Select a Year:</label>
                        <input type="number" id="token" name="token" min="1000" max="3000"><br/>
                        
                        <button type="submit" class="btn btn-dark">Analyse</button>
                    </form>
                </div>
            </div>
        </div>
        
    
<br/>
<br/>
<hr/>

    <h1>Receiver List:</h1>
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Sends</th>
                <th>Views</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% let Sno = 0; %>
            <%let total = [];
            for(let rec of subscriberIds){
            if(!total.includes(rec)){
            total.push(rec)} }%>
            <td>total: <b><%= total.length %></b></td>
            <td></td>
            <td>Total</td>
            <td>====></td>
            <td><%= campaign.receiver.length %></td>
                <td><%= campaign.data.views.length %></td>
                <td><%= campaign.data.clicks.length %></td>
                <% let done=[];
                let i=-1; %>
            <% for (subscriber of subscriberIds) { 
                i++;
                if(      !done.includes(subscriber)){
                 done.push(subscriber);
                Sno = Sno + 1; 
                %> 
                
                <tr>
                    <td><%= Sno %></td>
                   
                    <% if (typeof subscriber.email !== undefined ) { %>
                <td><%= campaign.receiver[i].username %></td>
                <td><%= campaign.receiver[i].email %></td>
                <td><%= campaign.receiver[i].age %></td>
            <% } else { %>
                <td>Unsubscribed/Deleted</td>
                <td>Unsubscribed/Deleted</td>
                <td>Unsubscribed/Deleted</td>
            <% } %>
                    <td><%= count.countOccurrences(subscriberIds, subscriber, 'receiver') %></td>
                    <td><%= count.countOccurrences(campaign.data.views, subscriber, 'views') %></td>
                    <td><%= count.countOccurrences(campaign.data.clicks, subscriber, 'clicks') %></td>
                   
                </tr>
                <%}%>
            <% } %>
        </tbody>
    </table>
</div>
<script>
  
    function renderChart(data) {
        var ctx = document.getElementById('myChart').getContext('2d');
        
        // Define an array of colors for each dataset
        var colors = [
            'rgba(255, 99, 132, 0.2)', // For Send Email
            'rgba(54, 162, 235, 0.2)', // For Views
            'rgba(255, 206, 86, 0.2)'  // For Clicks
        ];
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Total Send Email', 'Total Views', 'Total Clicks'],
                datasets: [
                    {
                        label: 'Receiver',
                        data: [campaign.receiver.length, 0, 0], // Default data for Receiver (count only for Receiver)
                        backgroundColor: colors[0], // Use color for Receiver
                        borderColor: colors[0].replace('0.2', '1'), // Use darker shade for border
                        borderWidth: 1
                    },
                    {
                        label: 'Views',
                        data: [0, campaign.data.views.length, 0], // Default data for Views (count only for Views)
                        backgroundColor: colors[1], // Use color for Views
                        borderColor: colors[1].replace('0.2', '1'), // Use darker shade for border
                        borderWidth: 1
                    },
                    {
                        label: 'Clicks',
                        data: [0, 0, campaign.data.clicks.length], // Default data for Clicks (count only for Clicks)
                        backgroundColor: colors[2], // Use color for Clicks
                        borderColor: colors[2].replace('0.2', '1'), // Use darker shade for border
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    // Render chart with dynamic data passed from the server
    renderChart(<%- JSON.stringify(campaign) %>);
</script>
</body>
