<% layout('/layouts/boilerplate')%>

<style>
    h3 {
        text-align: center;
        margin-top: 20px;
    }

    .btn-success {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .no-campaign-message {
        font-size: 1.5rem;
        font-weight: bold;
        color: red;
        text-align: center;
    }

    .card {
        margin: 1rem auto;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card-header {
        background-color: #6c757d;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .card-title {
        color: #6c757d; /* Secondary color for the title */
    }

    .card-body {
        text-align: center;
    }

    .card-footer {
        background-color: #f8f9fa;
        color: #6c757d;
        font-size: 0.9rem;
        text-align: center;
    }

    .listing-links {
        text-decoration: none;
    }

    .text-secondary {
        color: #6c757d !important;
    }
</style>

<div>
    <h3>Email Templates:</h3><hr/><br/>
    <br/>
    <form action="/MailMetrics/createEmail" method="get">
        <button class="btn btn-success">Add Email Templates</button>
    </form>
    <br/>
    <br/>
    <% if (allemail.length === 0) { %>
        <h3 class="no-campaign-message">You have not created any templates!</h3>
    <% } else { %>
        <div class="container">
            <div class="row">
                <% for(let email of allemail) { %>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="/MailMetrics/<%=email._id%>" class="listing-links">
                            <div class="card border-dark h-100">
                                <% if(email.title.length<=27){ %>
                                    <div class="card-header">Title: <%= email.title %></div>
                                <% } else { %>
                                    <div class="card-header">Title: <%= email.title.substring(0, 24)%>...</div>
                                    <% } %>
                                
                                <div class="card-body text-primary">
                                    <h5 class="card-title text-secondary">
                                        <textarea class="text-secondary" disabled><%= email.subject %></textarea>
                                    </h5>
                                </div>
                                <% if(email.sender.length<=27){ %>
                                <div class="card-footer border-success">Sender: <%= email.sender %></div>
                                <% }else {%>
                                    <div class="card-footer border-success">Sender: <%= email.sender.substring(0,24) %>...</div>
                                    <% } %>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
