<% layout('/layouts/boilerplate')%>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #343a40;
    }

    .btn-success {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #ececec !important;
        color: white;
    }

    .no-campaign-message {
        font-size: 1.5rem;
        font-weight: bold;
        color: red;
        text-align: center;
        margin-top: 20px;
    }

   
</style>

<body>
    <div class="container">
        <h1>Subscribers List</h1><hr/><br/>
        <form action="/MailMetrics/subscribers/addSubscriber" method="get">
            <button class="btn btn-success">Add Email Subscriber</button>
        </form>

        <div class="table-container">
            <% if(allsubscriber.length === 0) { %>
                <h3 class="no-campaign-message">You do not have any Subscribers!</h3>
            <% } else { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let Sno = 0; %>
                        <% for(subscriber of allsubscriber) { Sno = Sno + 1; %>
                            <tr>
                                <td data-label="S.No."><%= Sno %></td>
                                <td data-label="Name"><%= subscriber.username %></td>
                                <td data-label="Email"><%= subscriber.email %></td>
                                <td data-label="Age"><%= subscriber.age %></td>
                                <td data-label="Edit">
                                    <form action="/MailMetrics/subscribers/<%= subscriber._id %>/update" method="get">
                                        <button ><i class="fa-solid fa-pen-to-square"></i></button>
                                    </form>
                                </td>
                                <td data-label="Delete">
                                    <form action="/MailMetrics/subscribers/<%= subscriber._id %>/delete" method="get" onsubmit="return confirmDelete('<%= subscriber._id %>')">
                                        <button ><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>

    <script>
        function confirmDelete(subscriberId) {
            var result = confirm("Are you sure you want to delete this Subscriber? If you proceed, all contribution data related to this Subscriber will also be deleted.");

            if (!result) {
                console.log("Deletion canceled.");
                return false;
            } else {
                console.log("Item with ID " + subscriberId + " deleted successfully.");
                return true;
            }
        }
    </script>
</body>
